<?xml version="1.0" encoding="UTF-8"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="GRAPHQL" cl="graphql" clparam="visible">
            <SUBMENU id="GRAPHQL_CONSOLE" cl="graphiql" rights="malladmin"></SUBMENU>
            <SUBMENU id="GRAPHQL_QUERIES" cl="queries" rights="malladmin"></SUBMENU>
            <SUBMENU id="GRAPHQL_MUTATIONS" cl="mutations" rights="malladmin"></SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>
